<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/1.jpg" class="logo">
      </a>
      <span class="navbar-brand">Suntos Configuration Manager [v1.0]</span>
    </div>
  </div>
</nav>

<body>
  <table>
    <!-- APPLICAITONS-->
    <accordion>
      <accordion-group heading="Applications">
        <li>Application 1</li>
        <li>Application 2</li>
      </accordion-group>
    </accordion>

    <!-- USERS -->
    <accordion>
      <accordion-group heading="Users">
        <li>Claudio Parrondo</li>
        <li>Santiago Pascual</li>
      </accordion-group>
    </accordion>
  </table>
</body>


<div>
<button type="button" class="btn btn-info" (click)="openModal(template)">View latest updates</button>

   <ng-template #template>
       <div class="modal-header">
           <h4 class="modal-title pull-left">Latest updates:</h4>
           <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
       </div>
       <div class="modal-body">
           <li>Application 1 => Key 1 => [TEST] Username => '[old] Claudio Parrondo : [new!] Conchita Parrondo'</li>
       </div>
   </ng-template>
</div>
